<div id=<%= "#{ticket.id}_mymodal" %> class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= ticket.Subject %></h3>
  </div>
  <div class="modal-body">
    <p>fuffkfjfklf </p>
  </div>
  <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
  </div>
</div>
