<ul class="nav nav-list">
  <li class="nav-header">Customer Tickets</li>
  <li><%= link_to "Summary", customersums_path %></li>
  <li><%= link_to "Customers", customers_path %></li>
  <li><%= link_to "Requestors", emails_path %></li>
</ul>
