<ul class="nav nav-list">
  <li class="nav-header">Tickets</li>
  <li><%= link_to "My tickets", rttickets_path %></li>
  <li><%= link_to "Favorite Tickets", favorites_path %></li>
  <li><a href="#">Recent Activities</a><li>
  <li><a href="#">Watch Customers</a><li>
</ul>
