<ul class="nav nav-tabs nav-stacked">
  <li class="active"><%= link_to "My Stats", rttickets_path %></li>
  <li><%= link_to "Bookmarked", favorites_path %></li>
  <li><%= link_to "Activities", transactions_path %></li>
  <li><%= link_to "My Customers", favorites_path %></li>
</ul>

