<ul class="nav nav-tabs nav-stacked">
  <li><%= link_to "Summary", customersums_path %></li>
  <li><%= link_to "Customers", customers_path %></li>
  <li><%= link_to "Requestors", requestors_path %></li>
</ul>
