div class="container-fluid"
  div class="row-fluid"
    div class="span2"
      <!--Sidebar content-->
      = render :partial => "particial/sidemenu2"
    div class="span10"
      <!--Here goes the body content -->
      h1 New Customer
      <!-- When this page gets reloaded by the controller -->
      - @email.errors.full_messages.each do |error_message|
        div class="alert alert-error" #{error_message}

      = simple_form_for @customer do |f|
        p Name
        = f.input :name, label: false
        p Email
        = text_field_tag :email, @email.try(:email)
        p
        = f.submit class: "btn"
