div class="container-fluid"
  div class="row-fluid"
    div class="span2"
      <!--Sidebar content-->
      = render :partial => "particial/sidemenu3"
    div class="span10"
      <!--Here goes the body content -->
      h1 Queues
      div =high_chart("my_id", @chart)
      br
      table class="table"
        thead
          tr
            th Queue
            th Email Address
            th Description
            th Status
        tbody
          - @rtqueues.each do |queue|
            tr
              td= link_to queue.Name, rtqueue_path(queue)
              td= queue.CorrespondAddress
              td= queue.Description
              td= "Active" unless queue.Disabled == 1
